body,
h1 {
    margin: 0;
}

body .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4DBD9B;
    height: 80px;
    box-shadow: 2px 2px 2px 1px rgba(153, 151, 151, 0.705);
}

header h1 {
    padding-top: 15px;
    padding-left: 15px;
    color: #ffffff;
}

footer {
    background-color: #5a5a5a;
    color: #ffffff;
    height: 70px;
    text-align: center;
    margin-top: auto;
}

.footerCopy {
    margin-top: 30px;
}